@media(max-width:1440px) and (min-width:1080px) {

    /* laptop */

    .box {
        width: 97%;
        height: auto;
    }

    .box .card1 {
        width: 200px;
        height: 280px;
        background-size: 95% 95%;
    }

    .box .card2 {
        width: 200px;
        height: 280px;
        background-size: 95% 95%;

    }

    .box .card3 {
        width: 200px;
        height: 280px;
        background-size: 95% 95%;
    }

    .box .card4 {
        width: 200px;
        height: 280px;
        background-size: 95% 95%;
    }

    .box .card5 {
        width: 200px;
        height: 280px;
        background-size: 95% 95%;
    }

}

:root {
    --dur: 800ms;
}

.hamburger::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity var(--dur)ease;
    pointer-events: none;
    will-change: opacity;
    background-size: 600% 600%;
    animation: rainbowShift 5s ease infinite;
    background-image: linear-gradient(135deg, rgb(104, 69, 8), rgb(167, 106, 0), rgb(195, 120, 0), rgb(255, 188, 73), rgb(255, 243, 178), rgb(253, 156, 0), rgb(98, 54, 0));
}

.hamburger:hover::before {
    opacity: 1;
}

.hamburger {
    position: relative;
    overflow: hidden;
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    border: solid 0.5px black;
    background-size: 600% 600%;
    animation: rainbowShift 5s ease infinite;
    background-image: url(/stars.gif);
    transition: background-image 0.5s ease;

}

.hamburger span {
    animation: innerPulse 4s infinite alternate;
    position: relative;
    background-image: linear-gradient(135deg, rgba(17, 48, 0, 0.665), rgba(4, 229, 0, 0.632), rgba(31, 102, 0, 0.656), rgba(0, 72, 10, 0.679), rgba(25, 249, 0, 0.646), rgba(24, 180, 0, 0.656), rgba(15, 98, 0, 0.589));
    height: 4px;
    width: 25px;
    margin: 4px;
    transition: 0.8s;
    border-radius: 1.5px;
    animation: rainbowShift 5s ease infinite;
    background-size: 200% 200%;
    border: solid 0.9px#444;
}

.box_1 {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
    ;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: medium;
    color: #000000;
    transition: all 0.4s ease;
}

.box_1 a {
    color: #000000;
    text-decoration: none;
}

.box_1 a:hover {
    text-decoration: underline;
    color: rgb(24, 0, 36);
    font-weight: bold;
    font-size: larger;
}

.content {
    display: none;
    margin: 4px;
    justify-self: center;
    width: 90%;
    background-color: #a0a0a0;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: solid 4px black;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.8s ease;
    height: 100vh;

    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: all 0.8s ease;
}

.content.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
     height: auto;


}


@media(max-width:600px) {
    /*signup additional code*/
    .low{}
    .lower-box-sign{}
    


    /* Phone */
    .content.active .main {
        width: auto;
        border-radius: 3px;
    }

    .content.active .main .navbar_low {
        width: 50px;
        gap: 1px;
    }

    .content.active .main .navbar_low .btn_lower1 {
        width:45px;
        height:45px ;
    }
    .content.active .main .navbar_low .btn_lower2 {
        width:45px;
        height:45px ;
    }
    .content.active .main .navbar_low .btn_lower3 {
        width:45px;
        height:45px ;
    }
    .content.active .main .navbar_low .btn_lower4 {
        width:45px;
        height:45px ;
    }
    .content.active .main .navbar_low .btn_lower5 {
        width:45px;
        height:45px ;
    }
    .content.active .main .lower_box{
        
        height: auto;
    }
    


    
    .content.active .pic {
        width: 100%;
        height: 80px;
        border-radius: 10px;
        margin:5px;
    }

    .content.active  .inner-text {
        font-size: 5px;
        margin: 2px;
        text-align: justify;
        text-indent: 20px;
        padding: 3px;
        border-radius: 5px;
    }

    .content.active  .inner-text1 {
        font-size: 5px;
        margin: 2px;
        text-align: justify;
        padding:3px;
        border-radius: 5px;
    }

    .content.active .inner-cont {
        margin: 5px;
        height: auto;
        border-radius: 5px;
        font-size: 5px;
        padding: 2px;
        border:solid 0.5px #444 ;


    }
    .content.active .inner-title{
        margin:3px;
        height: auto;
        width: 100%;
        border: solid 0.5px;
        text-align: center;
        border-radius: 3px;
        font-size: 5px;
        
    }

    .content.active button {
        align-self: center;
        width: 25px;
        height: 15px;
        font-size: 4px;
        border-radius: 3px;
    }

    .content.active {
        padding: 5px;
        border-radius: 10px;
    }

    br {
        display: none;
    }

    .content {
        height: auto;
        font-size: 5px;
    }

    .container {
        font-size: 10px;
        height: auto;
    }

    .container .navbar .navlist {
        display: none;
        transition: all 0.5s;
        flex-direction: column;
        background: #444;
        position: absolute;
        border-radius: 10px;
        border: solid 1px rgb(0, 255, 0);
        top: 38px;
        right: 0;
        width: 100px;
        text-align: right;
        padding: 10px;
        z-index: 1000;
    }

    .container .navbar .navlist.show {
        display: flex;
        z-index: 1000;
    }

    .hamburger {
        display: flex;
    }

    .banner {
        height: 50px;
        border-radius: 20px;
        border: solid 3px rgba(39, 39, 39, 0.518);
    }

    .container .navbar .navlist a {
        font-size: 10px;
    }

    .box_1 {
        height: 20px;
        font-size: 4px;
    }

    .box {
        width: 97%;
        height: auto;
        display: flex;
        gap: 2px;
        border-radius: 10px;
    }

    .box .card1 {
        width: 150px;
        height: 100px;
        background-size: 97% 100%;
        border-radius: 7px;
        border: solid 2px rgba(0, 230, 0, 0.58);
    }

    .box .card2 {
        width: 150px;
        height: 100px;
        background-size: 97% 100%;
        border-radius: 7px;
        border: solid 2px rgba(0, 230, 0, 0.58);

    }

    .box .card3 {
        width: 150px;
        height: 100px;
        background-size: 97% 100%;
        border-radius: 7px;
        border: solid 2px rgba(0, 230, 0, 0.58);
    }

    .box .card4 {
        width: 150px;
        height: 100px;
        background-size: 97% 100%;
        border-radius: 10px;
        border: solid 2px rgba(0, 230, 0, 0.58);
    }

    .box .card5 {
        width: 150px;
        height: 100px;
        background-size: 97% 100%;
        border-radius: 7px;
        border: solid 2px rgba(0, 230, 0, 0.58);

    }

    .box .card1:hover {
        animation: inside_glow_responsive 0.4s infinite alternate;
    }

    .box .card2:hover {
        animation: inside_glow_responsive 0.4s infinite alternate;
    }

    .box .card3:hover {
        animation: inside_glow_responsive 0.4s infinite alternate;
    }

    .box .card4:hover {
        animation: inside_glow_responsive 0.4s infinite alternate;
    }

    .box .card5:hover {
        animation: inside_glow_responsive 0.4s infinite alternate;
    }

    @keyframes inside_glow_responsive {
        from {
            box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.6);
        }

        to {
            box-shadow: inset 0 0 20px rgb(255, 46, 46);
        }
    }

}

@media(max-width:900px) and (min-width:601px) {

    /* Tablet */
    .box {
        width: 90%;
        height: auto;
    }

    .box .card1 {
        width: 150px;
        height: 280px;
        background-size: 100px 200px;
    }

    .box .card2 {
        width: 150px;
        height: 280px;
        background-size: 100px 200px;

    }

    .box .card3 {
        width: 150px;
        height: 280px;
        background-size: 100px 200px;
    }

    .box .card4 {
        width: 150px;
        height: 280px;
        background-size: 100px 200px;
    }

    .box .card5 {
        width: 150px;
        height: 280px;
        background-size: 100px 200px;
    }

}






@keyframes glowing {
    0% {
        box-shadow: 0 0 10px #ffe9c5;
    }

    25% {
        box-shadow: 0 0 20px #ffe47a;
    }

    50% {
        box-shadow: 0 0 30px #ffb70e;
    }

    75% {
        box-shadow: 0 0 20px #c76300;
    }

    100% {
        box-shadow: 0 0 10px #7a4500;
    }
}

@keyframes rainbowShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;

    }
}

@keyframes outside_glow_tech {
    from {
        box-shadow: 0 0 10px rgba(96, 164, 0, 0.6);
    }

    to {
        box-shadow: 0 0 30px rgb(46, 255, 84);
    }
}

.content.active .inner-title {
    animation: outside_glow_tech 0.8s infinite alternate;
}